*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vp;
    background-image: url('../image.png');
     /* Replace with your image URL */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: palegreen;
}
  

  .content {
    height: 1000px;
    width: 100px;
    background-color: chocolate;
  }